/* .login{
    min-height: 760Px;;
    background-color: white;
}
.login-form{
    border-bottom:1px solid gray;
    border-radius:5px;
    margin-left:30%;
    margin-top:5%;
    max-width: 30%;
}
.login-form input{
    border:none;
    border: 1px solid gray;
}
.btn-width{
    width:95%;
} */
.form{
    border: 1px solid lightgray;

}
.form input{
    max-width: 90%;
    border: none;
   
}
.form input{
    border-bottom: 1px solid lightgray !important;
    border-radius: none;
} 
.form button{
    max-width: 90%;
}