
.form{
    border: 1px solid lightgray;

}
.form input{
    max-width: 90%;
    border: none;
   
}
.form input{
    border-bottom: 1px solid lightgray !important;
    border-radius: none;
} 
.form button{
    max-width: 90%;
}