
.container .social-btn{
   height: 200px;
   width: 500px;
   background-color: white;
   
}
.container{
    text-align: center;
    margin-top: 50px;
    /* margin-left: 500px; */
    
}
.google-btn{
    border: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.container img{
    text-align: center;
    
}
